.pos{
    position: relative;
}


.left{
    position: absolute;
    background-color: rgba(255,50,113,0.90);
    color: rgba(255,50,113,0.90);
    text-align: center;
    left: 0;
    top: 40%;
    width: 0%;
    opacity: 0;
    padding: 16px 0px;
}

.right{
    position: absolute;
    top:40%;
    width: 0%; 
    color: black;
    text-align: center;
    background-color: black;
    opacity: 0;
    right: 0;
    padding: 16px 0px;
}

.left1{
    position: absolute;
    text-align: right;
    left: 0;
    top: 55%;
    width: 50%;
    opacity: 0;
    padding: 16px 0px;
    background-color: transparent;
}

.right1{
    position: absolute;
    text-align: left;
    right: 0;
    top: 55%;
    width: 50%;
    opacity: 0;
    padding: 16px 0px;
    background-color: transparent;
}

.pos:hover .left{
    opacity: 1;
    width: 50%;
    transition: ease 0.5s;
} 

.pos:hover .right{
    opacity: 1;
    width: 50%;
    transition: ease 0.5s;
}

.icon1{
    background-color: white;
    padding: 8px 14px;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 6px;
    color: rgba(255,50,113,0.90);
    cursor: pointer;
}



.icon2{
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    border-radius: 6px;
    padding: 8px 14px;
    margin-left: 6px;
    color: rgba(255,50,113,0.90);
}

.pos:hover .left1{
    top: 40%;
    opacity: 1;
    transition: ease 0.5s;
}

.pos:hover .right1{
    top: 40%;
    opacity: 1;
    transition: ease 0.5s;
}
