.grid-container2{
    display: grid;
    gap: 0%;
    grid-template-areas: 
    'item1 item2 item3 item4''item5 item6 item7 item7'
    'item8 item9 item7 item7'
    'item10 item11 item12 item13'
    'item10 item14 item15 item15';
    row-gap: 0px;
    column-gap: 0;
}

.grid-container2 > div {
    padding: 0px 0px;
    margin: 0px;
}

body{
    margin: 0cm;
}



.item1{
    grid-area: item1;
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }   
    .item5{
        grid-area: item5;
    }
    .item6{
        grid-area: item6;
    }
    .item7{
        grid-area: item7;
    }
    .item8{
        grid-area: item8;
    }
    .item9{
        grid-area: item9;
    }
    .item10{
        grid-area: item10;
    }
    .item-11{
        grid-area: item11;
    }
    .item-12{
        grid-area: item12;
    }
    .item-13{
        grid-area: item13;
    }
    .item-14{
        grid-area: item14;
    }
    
    .item-15{
        grid-area: item15;
        
    }

.image1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pos{
    position: relative;
}






@media screen and (max-width:990px) {
    
    .grid-container2{
        grid-template-areas: 
        'item1 item2'
        'item3 item4'
        'item5 item6'
        'item7 item7'
        'item8 item9'
        'item10 item11'
        'item10 item12'
        'item13 item14'
        'item15 item15';
    }
} 


@media screen and (max-width:768px) {
    
    .grid-container2{
        grid-template-areas: 
        'item1' 'item2' 'item3' 'item4' 'item5' 'item6' 'item7'
        'item8' 'item9'
        'item10' 'item11'
        'item12' 'item13' 'item14'
        'item15';
    }

    .line2{
        font-size: 45px;
    }
}






