.container1{
    display: flex;
    padding: 8% 10%;
    column-gap: 25px;
    flex-wrap: wrap;
    background-color: rgb(248, 248, 248);
    margin-top: 150px;
    row-gap: 30px;
}

.flex-box1{
    flex: 300px;

}


@media screen and (max-width:350px) {
    
    .container1{
        flex-direction: column ;
        padding: 50px 0px;
    }
 
}
@media screen and (max-width:600px) {
    
    .container1{
        flex-direction: column ;
        padding: 50px 50px;
    }   
 
    
.flex-box1{
    flex: 100%;
    
}
}