body{
    margin: 0;
    color: #767676;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
.center1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

.center2{
    text-align: center;
    font-size: 20px;
}

.pad{
    margin-top: 50px;
    position: relative;
}


.navbar1{
    position: fixed;
    width: 100%;
    margin-top: 0;
    background-color: #262626;
    padding-top: 18px;
    padding-left: 8px;
    padding-right: 14px;
    padding-bottom: 12px;
}


.container{
    text-align: center;
}
.img1{

    width: 130px;
}

.logo{
    
    margin-left: 12px;
    

}

.logo3{
    width: 100%;

}

.image-container{
    position: relative;
    margin-top: 10px;
}

.pos{
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 100%; 
}

.heading{
    width: 40%;
    position: absolute;
    left: 80px;
    top: 280px;
    height: 200px;
}

h1{
    font-size: 30px;
}


.heading1{
    font-size : 70px;
    font-weight :750;
    line-height: 70px;


}

.btn1{
    font-size: 14px;
    padding: 6px 18px;
    float: right;
    margin-right: 20px;
    box-shadow: 0 2px 0 #6f9a37;
    background-color: #6f9a37;
    border: none;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-top: -6px;

}

.btn2{

    font-size: 16px;
    font-weight: 550;
    font-family: sans-serif;
    cursor: pointer;
    padding: 14px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
}


.btn2:hover{
    background-color: #ff3271;
    transition: ease-out 1s;
    color: white;
    
}

.btn4{
    position: relative;
    padding: 17px 45px 17px;
    line-height: 25px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(left, #ff8ef7, #ca8cff);
    border: none;
    margin-top: 20px;
}

.btn4:hover{
    background: -webkit-linear-gradient(right, #ff8ef7, #ca8cff);
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    
}
  
  .flex1 {
    padding: 10px;
    flex: 30%;
  }

  .space{

    padding: 0px 20px 0px 20px;
  }
  
  .flex2 {
    padding: 25px 0px 5px 0px;
    flex: 40%;
    text-align: left;
    font-size: 16px;
    font-weight: 650;

  }

  .flex3{
    padding: 10px;
    flex: 30%;
  }


  @media  screen and (max-width: 817px) {
    .flex-container {
      flex-wrap: wrap;
    }
    .flex2{
        text-align: center;
    }

    .flex3{
        flex:100%;
    }
  }

  @media screen and (max-width:530px) {
      .pad{
          bottom : 0;
      }
      
  }

  @media screen and (max-width:575px) {
    .flex-container {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .pad{
        position: relative;
        margin-top: 100%;
    }

    .heading{
        width: 100%;
        text-align: center;
        margin-left: 0;
        display: block; 

    }

    .heading1{
        line-height:1;
    }

    
  }

  @media screen and (max-width: 1200px) {

    .logo3{
        display: none;
    }

     .heading{
         width: 80%;
     }
    .pad{
        margin-top: 70%;
    }

  

}


@media screen and (max-width:768px)
{
        .heading1{
            font-size: 40px;
        }
}

@media screen and (max-width:900px) {
    
    .pad{
        margin-top: 100%;
    }

}


  

