.gotobtn{
        width: 45px;
        height: 55px;
        right: 30px;
        cursor: pointer;
        font-size: 18px;
        position: fixed;
        z-index: 103;
        color: #fff;
        box-shadow: 0px 0px 10px black;
        text-align: center;
        background-color: black;
        border: none;
        animation: example 1s 1;
        transition: 1s ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        
       
    }
    
    @keyframes example {
        from {bottom:500px}
        to {bottom: 30px;}
    }

body{
    scroll-behavior: smooth;
    }



.gotobtn:hover{
    background-color: #ff3271;
    cursor: pointer;
}