.flex-container1{
    display: flex;
    flex-wrap: wrap;   
    flex-direction:row ;
    position: static;
    row-gap: 3cm;
    padding: 100px 180px 20px 100px;

}

.flexbox{
    flex:30%;
    margin: 20px;

}





@media screen and (max-width:900px) {


    .flex-container1{
        flex-direction: column;
        padding: 5% 22% 5% 0%;
    }

    .flexbox{
        width: 100%;
    }
   

}

