.contain{
    width: 100%;
    height:440px;
    margin-left: 10%;
}

.imagheader{
    width: 100%;
    
}



.demo1{

    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: 0% 0%;
}

.caption{
    font-weight: 700;
    margin-top: 20px;
    text-align: center;

    
}

.caption:hover{
    color: #ff3271;
    transition: ease-out 1s;
}


.demo1:hover{

    object-position: 0% 100%;
    transition: ease-out 1s;
}

@media screen and (max-width:420px) {
    
    .demo1{
        object-fit: fill;
        width: 100%;
        overflow: hidden;
    }

    .caption{
        margin-top: -1%;
    }
}