body{
    margin:0;
    overflow-x: hidden;
}

.text{
    position:absolute; 
    top:40%; 
    text-align: center;
    width: 100%;
    color:white;
    font-weight:800; 
    font-size:50px;
}

.overbtn{
    position: absolute;
    top:55%;
    text-align: center;
    background-color: #ff3271;
    border-radius: 50px;
    padding:16px 32px 14px;
    border:none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    left: 25%;
}

.overbtn:hover{
    background-color: transparent;
    border: 1px solid #ff3271; 
    color: #ff3271;
    transition: ease 0.5s;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'item1 item1 item2 item3'
      'item1 item1 item4 item5'
      'item6 item7 item8 item8'
      'item9 item9 item10 item11'
      'item12 item12 item13 item14';
    grid-gap: 0px;
   
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.item-1{
grid-area: item1;
}
.item-2{
    grid-area: item2;
}
.item-3{
    grid-area: item3;
}
.item-4{
    grid-area: item4;
}
.item-5{
    grid-area: item5;
}
.item-6{
    grid-area: item6;
}
.item-7{
    grid-area: item7;
}
.item-8{
    grid-area: item8;
}
.item-9{
    grid-area: item9;
}
.item-10{
    grid-area: item10;
}
.item-11{
    grid-area: item11;
}
.item-12{
    grid-area: item12;
}
.item-13{
    grid-area: item13;
}
.item-14{
    grid-area: item14;
}

.image1{
    width: 100%;
    
}

.overlay2{
    width: 73%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    padding: 60px 30px;
}

.overlay2 > h1 {
    font-size: 2vw;
    width: 100%;
    color: black;
    font-weight: 800;
}

.overlay2 > p{
    width: 100%;
    font-size: 2vw;
    color: black;
    right: 50px;
    text-align: right;
    font-weight: 500;
}


.scrolltotop{
    position: fixed;
    bottom: 5%;    
    right: 2%;
    z-index: 1;
    text-align: center;
}

.gotobtn{
    background-color: black;
    color: white;
    font-size: 25px;
    display: none;
    padding: 10px 15px;

}

.gotobtn:hover{
    background-color: #ff3271;
    cursor: pointer;
}

.overtext{
    position: absolute;
    top:25%;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    padding: 10px 35px;
}

body{
    overflow-x: hidden;
}

@media screen and (max-width:990px) {
    
    body{
        overflow-x: hidden;
    }
    .grid-container{
        grid-template-areas:
      'item1 item2'
      'item3 item4'
      'item5 item6'
      'item7 item8'
      'item7 item10'
      'item9 item10'
      'item11 item13'
        'item14 item12';
    }



}

@media screen and (max-width:768px) {
    

    body{
        overflow-x: hidden;
    }
    .grid-container{
        grid-template-areas:
      'item1' 
      'item2'
      'item3'
        'item4'
      'item5' 
      'item6'
      'item7'
       'item8'
      'item9' 
      'item10'
      'item11' 
      'item12'
    'item13' 
    'item14';
    }

    .text{
        font-size: 100%;
    }
}





