.page2over{
    position:absolute; 
    width:90%; 
    height:90%;
    top:5%;
    left:5%;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 99; 
    text-align: center;
    display: none;
}

.pos{
    position: relative;
    height: 100%;
}

.image1{
    width: 100%;
  
}
.overlaytext{
    width: 90%;
    text-align: center;
    margin-top: 40%;
    margin-left: 5%;
    line-height: 0.5cm;
    opacity: 0;
}

.page2over:hover .overlaytext{
    opacity: 1;
    transition: ease 4s;
}


@keyframes rotate {
    from {transform: rotateY(180deg); width: 10%;left:45%;height:10%;top:45%}
    to { transform: rotateY(360deg); width: 90%;left: 5%;height: 90%;top:5%;}
}


.item1:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item2:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item3:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item4:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item5:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item6:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.item7:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item8:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item9:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.item10:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item-11:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item-12:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item-13:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.item-14:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.item-15:hover .page2over
{
    display: block;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}