body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Poppins";
}

.flexbox9{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: hidden;
}

.flex9-1{
    flex: 38%;
}

.flex9-2{
    flex: 62%;
    padding: 60px 2%;
}

.enterdetails{
    position: relative;
    width: 35%;
    line-height: 33px;
    padding: 0px 22px;
    height: 66px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    background: #f3f3f3;
    border: 1px solid #e1e1e1;
}

input[type=textarea]{
    position: relative;
    width: 72.5%;
    line-height: 33px;
    padding:0px 22px;
    height: 66px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    background: #f3f3f3;
    height: 150px;
    border: 1px solid #e1e1e1;
}

.enterdetails:focus{
    border: none;
    border: 2px solid #ff3271;
    
}



.cont9{
    margin-left: 27%;
    padding: 40px 22px;

}

.details{
    background-color: #f7f7f7;
    line-height: 2.5;
    padding: 10px 30px;
    font-size: 15px;
    color: #222222;

}

.checkbox{
    color: #ff3271;
    margin-right: 10px;
}

.cont9 > p{
    color: #666666;
    font-weight: lighter;
}



.btn-style-submit {
    position: relative;
    padding: 17px 45px 17px;
    line-height: 25px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 3%;
    background-image: linear-gradient(to left, #ff8ef7, #ca8cff);
  
}

.btn-style-submit:hover{
    background-image: linear-gradient(to right, #ff8ef7, #ca8cff);
}

.mapstyle{
    width: 100%;
    height: 400px;
}




@media screen and (max-width:990px) {

    .flexbox9{
        flex-wrap: wrap;
    }

    .flex9-1{
        flex: 99%;
    }
    .flex9-2{
        flex:99%;
        text-align: center;
    }

    .cont9{
        margin-left: 10px;
    }

    .enterdetails    {
            width: 40%; 
            margin-left: 5px;
    }
    input[type=textarea]{
        width: 81%;
        margin-left: 5px; 
}

.input-container{
    text-align: center;
}


    .flex9-2{
        flex: 100%;
    }
    
}


@media screen and (max-width:768px) {
    
    .enterdetails{
        width: 90%;
        margin-left: 0;
    }
    input[type=textarea]{
        width: 90%;
        margin-left: 0;
    }


    
}

@media screen and (max-width:500px){
    .enterdetails{
        width: 80%;
        margin-left: 0;
    }
    input[type=textarea]{
        width: 80%;
        margin-left: 0%;
    }   
}