.flexbox7{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

body{
    margin: 0%;
    font-family: "Poppins";
    overflow-x: hidden;
}

.flex7-1{
    flex:500;
    position: relative;
    
}

.flex7-2{
    position: relative;
    flex:700;
    padding: 150px 0px;
    
}

.info{
    padding: 130px 0px;
    margin-left: 27%;
    position: relative;
    z-index: 99;
   
}

.info3{
    position: absolute;
    bottom: 5%;
    left: 27%;
    z-index: 99;
}
.p11{
    font-size: 16px;
    color: #777777;

}

.info2{
    position: fixed;
    top:100px;
    left:11.2%;
    width: 30%;
    
}

.flex7-2 > img{
    width: 80%;
    margin-left: 10%;
    object-fit: cover;
}
.hed3{
    color: #777777;
    font-size: 15px;
    font-weight: 500px;   
}

.Hrule{
    width: 80px;
    height: 5px;
    background-color: #ff3867;
    margin-left: 0;
    border: none;
}

.hed1{
    line-height: 0.8;
    font-size: 30px;
    color: #333333;
}

@media screen and (max-width:990px) {
    
    .flex7-1{
        flex: 100%;

    }
    .flexbox7{
        flex-wrap: wrap;
    }
    .flex7-2{
        flex: 100%;
    }

    .info{
        margin-left: 5%;
    }

    body{
        overflow-x: hidden;
    }
}